<section class="cart">
    <!-- <div class="empty-cart pt-7">
        <div class="text-center mx-auto md:w-5/6">
            <h1 class="text-3xl font-bold mb-2">Cart Empty 😐</h1>
            <p>You probably haven't ordered a pizza yet.<br/>
            To order a pizza, go to the main page.<br/> <a href="/" class="btn-main inline-block text-white rounded-full px-5 py-2 my-3">Go back</a>
            </p>
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty cart">
        </div>
    </div> -->
    <div class="order md:w-5/12 py-8 mx-auto">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="cart">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list mt-8 border-b border-gray-300 pb-4">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">&dollar;2.3</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">&dollar;2.3</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="pizza">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">&dollar;2.3</span>
            </div>
        </div>
        <div class="text-right py-3">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount font-bold text-2xl ml-2">&dollar;2.3</span>
            </div>
            <div>
                <form action="#">
                    <input type="text" name="address" class=" border border-gray-400 py-2 px-4 rounded-md my-3 w-1/2" placeholder="Address">
                    <input type="text" name="Phone" class=" border border-gray-400 py-2 px-4 rounded-md w-1/2" placeholder="Phone">
                    <!-- <div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Order Now</button>
                    </div> -->
                </form>
            </div>
            <a href="#" class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login to continue</a>

        </div>
    </div>
</section>